@charset "UTF-8";

/* * : 웹의 모든 구역 및 콘텐츠를 통틀어 하나로 표현되는 선택자(총 관리자)  */
*{
    /* 웹이 기본적으로 갖추고 있는 공간값을 제거시키는 목적으로 사용된다. */
    padding:0; /*웹의 공간에 있어 안쪽 빈 공간을 뜻한다.*/
    margin:0;  /*웹의 공간에 있어 바깥 빈 공간을 뜻한다.*/
    
    /* 웹에서 표현되는 가장 기본 글씨체 크기(12px) */
    font-size: 12px; 
}

/* 모든 a태그가 공통적으로 꼭 들어가야만 하는 CSS구성요소 */
a{
    /* 링크 적용시 나타나는 파란색 글자를 검정색 글자로 표현 */
    color:black;
    /* a태그 밑에 들어가는 줄을 제거 */
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

/* 리스트앞에 수식되어 있는 포인터 표시나 숫자를 제거 하는 목적으로 사용 */
ul, ol, li{
    /* 리스트 형식에서 표시가 나타나지 않도록 설정 */
    list-style-type: none;
}

#clear{
    clear:both;
}